<script src="audio1.js"></script>
<script>
  audiojs.events.ready(function() {
    var as = audiojs.createAll();
  });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<style media="screen" type="text/css">
    body {
        background-color: lavender;
    }
    h4 {
        color: black;
        text-align: left;
    	margin-bottom: 2px;
    	margin-top: 2px;
    	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    }
    h5 {
        color: black;
        text-align: left;
    	margin-bottom: 0px;
    	margin-top: 0px;
    	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    }
    h6 {
        color: black;
        text-align: left;
    	margin-bottom: 0px;
    	margin-top: 0px;
    	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    }
    td, th {
    	color: black;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size: 16px;
    	margin-bottom: 2px;
    	margin-top: 2px;
    	font-weight: 350;
    	font-style: normal;
	margin-left: 0em ;
	border: 1px solid black;
	padding-left: 10px;
        padding-right: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
	vertical-align: center;
    }	
   table {
	    border-collapse: collapse;
            border-spacing: 0px;
	}		
   .ui-autocomplete { 
	   font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	   font-size: 14px;
	}
    .ui-autocomplete .ui-menu-item a.ui-state-focus {
      background: #C4FFC4 !important;
      border: 1px solid #32BE61 !important;
      }
	
</style>

<form class="search-form1" method="post" action="searchConcert">
  <input type="text" id="concert-input" name="queryConcert" />
  <%= submit_tag "Search Concert ID" %>
</form>
<form class="search-form3" method="post" action="searchArtist">
  <input type="text" id="artist-input1" name="queryArtist1" />
  <%= submit_tag "Search Artist" %>
</form>
<form class="search-form21" method="post" action="searchRagam">
  <input type="text" id="ragam-input" name="queryRagam" class="ui-autocomplete-input" autocomplete="on" >
  <%= submit_tag "Search Ragam" %>
</form>
<form class="search-form2" method="post" action="searchKrithi">
  <input type="text" id="krithi-input" name="queryKrithi" />
  <input type="text" id="artist-input" name="queryArtist" />
  <%= submit_tag "Search Krithi (+Artist)" %>
</form>
<h6> Search Concert by specific ID </h6>
<h6> Search Artist for all Krithis by Artist </h6>
<h6> Search Ragam for all Krithis by Ragam </h6>
<h6> Search Krithi (and Artist) for specific Krithi (and Artist combo) </h6>
<br>

<!-- Concert page -->
<% if ($modified_base_link == "null" || $modified_base_link.empty?) %>
<h5>  </h5> 
<% elsif %>
<h5> <%= "Artist: #{$artist}" %> </h5>
<h5> <%= "Concert ID: #{$concert_id}" %> </h5>
<h5> <%= "Venue: #{$venue}" %> </h5>
<h5> <%= "Link: #{$modified_base_link}" %> </h5>
<p> </p>
<%end%>

<% $file_name_array.each_with_index do |file, i| %> 
<p> <%= "[#{i.to_s.rjust(2)}] #{file}" %></p> 
<audio src= "<%= $file_path_array[i] %>" preload="none">
</audio>  
<a href="<%= $file_path_array[i] %>">
<img src="532.png" alt="Download" style="width:30px;height:20px;border:2;" align=right>
</a>
<hr size=1> 
<% end %>

 <!-- Main table -->
<table>
<% if (!$full_array.blank?) %>	
<h5> <%= $full_array.size%> records found </h5>	
<% end %>
<%  $full_array.keys.each do |key| %>
<tr> 
<td align = "right">	<%= "#{key}" %> </td> 
<% if($full_array[key][0][0].include? "-") %>	
 <td align = "left">	<form class="concert-url" method="post" action="searchConcert" target="_blank">  
 <%= submit_tag "#{$full_array[key][0][0]}" %> </form>  </td>
<% else %>
 <td align = "left">	<form class="krithi-id" method="post" action="searchKrithi" target="_blank">  
 <%= submit_tag "#{$full_array[key][0][0]}" %> </form>  </td>
<% end %> 	
<td align = "right">	<%= "#{$full_array[key][0][1]}" %> </td>
<td align = "right">	<%= "#{$full_array[key][0][2]}" %> </td> 
<td align = "right">	<%= "#{$full_array[key][0][3]}" %> </td>
<td align = "right">	<%= "#{$full_array[key][0][4]}" %> </td>
 <% if (!$full_array[key][0][7].blank?) %>
 <td> <audio src= "<%= $full_array[key][0][7] %>" preload="none"> </audio> </td>
 <% end %>	
</tr>	
<% end %>  
</table> 
 
<br>
<form class="clear" method="post" action="clearData">
  <%= submit_tag "Clear Data" %>
</form>

<!-- Autocomplete  -->
<script type="text/javascript">
  $(function () {
  $("#ragam-input").autocomplete({
    source: <%= ($ragas["ragam"]).to_json.html_safe %>
   });
  });
</script>

<script type="text/javascript">
  $(function () {
  $("#artist-input1").autocomplete({
    source: <%= ($artists["artist"]).to_json.html_safe %>
   });
  });
</script>

<script type="text/javascript">
  $(function () {
  $("#artist-input").autocomplete({
    source: <%= ($artists["artist"]).to_json.html_safe %>
   });
  });
</script>

<script type="text/javascript">
  $(function () {
  $("#krithi-input").autocomplete({
    source: <%= ($krithis["krithi"]).to_json.html_safe %>
   });
  });
</script>

